<title>${title}</title>

<h2>${title}</h2>
<form action="/blogs/new" method="post">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter blog name">
    </p>
    <p>
        <label for="likes">Likes</label>
        <input type="text" name="likes" id="likes" placeholder="How many likes..">
    </p>

    <p>
        <label for="date_created">Created</label>
        <input type="text" name="date_created" id="date_created" placeholder="YYYY-MM-DD format">
    </p>
    <p>
        <label for="active_status">Active?</label>
        <input type="text" name="active_status" id="active_status" placeholder="Enter 'true' or 'false'">
        <button type="submit">Add</button>
</form>


<p><a href="/blogs">&larr; BACK</a></p>